@{
    Layout = null;
}
@using hubu.sgms.BLL;
@using hubu.sgms.BLL.Impl;
@using hubu.sgms.Model;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="~/Content/admin/style.default.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/admin/pikaday.css" />
    <script src="~/Scripts/Course/pikaday.js"></script>
    <script src="~/Scripts/Course/jquery.min.js"></script>
    <script src="~/Scripts/Course/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="~/Content/admin/sweetalert2.min.css">
</head>
<body class="withvernav">
    <div style="height:50px;background-color:#31425D;text-align:center" align="Center">
        <h1 vertical-align="middle" style="line-height:45px ">添加学生信息</h1>
    </div>
    <!--form表单中固定有submit按钮，onsubmit表示在提交时所做的js判断-->
    <form id="formid" class="stdform stdform2" action="/Admin/SubmitAddStudentInfo" method="post">
        <p>
            <label>姓名</label>
            <span class="field"><input type="text" name="studentName" id="studentName" class="longinput" style="width:200px;" /></span>
        </p>
        <p>
            <label>性别</label>
            <span class="field" style="width:500px;">
                <select id="studentSex" name="studentSex">
                    <option value="" style="display: none;" disabled selected>性别</option>
                    <option value="男">男</option>
                    <option value="女">女</option>
                </select>
            </span>
        </p>
        <p>
            <label>卡号</label>
            <span class="field"><input type="text" name="studentIDCard" id="studentIDCard" class="longinput" style="width:200px;" /></span>
        </p>
        <p>
            <label>年龄</label>
            <span class="field"><input type="text" name="studentAge" id="studentAge" class="longinput" style="width:100px;" /></span>
        </p>
        <p>
            <label>所属学院</label>
            <span class="field" style="width:900px;">
                <select name="studentDepartment" id="studentDepartment">
                    <option value="" style="display: none;" disabled selected>所属学院</option>
                    <option value="1">文学院</option>
                    <option value="2">新闻传播学院</option>
                    <option value="3">商学院</option>
                    <option value="4">政法与公共管理学院</option>
                    <option value="5">外国语学院</option>
                    <option value="6">历史文化学院</option>
                    <option value="7">教育学院</option>
                    <option value="8">哲学学院</option>
                    <option value="9">马克思主义学院</option>
                    <option value="10">数学与统计学学院</option>
                    <option value="11">物理与电子科学学院</option>
                    <option value="12">化学化工学院</option>
                    <option value="13">生命科学学院</option>
                    <option value="14">资源环境学院</option>
                    <option value="15">计算机与信息工程学院</option>
                    <option value="16">材料科学与工程学院</option>
                    <option value="17">艺术学院</option>
                    <option value="18">体育学院</option>
                    <option value="19">通识教育学院</option>
                    <option value="20">楚才学院</option>
                    <option value="21">国际教育学院</option>
                </select>
            </span>
        </p>
        <p>
            <label>所属专业</label>
            <span class="field" style="width:500px;">
                <select name="studentMajor" id="studentMajor">
                    <option value="" selected="selected">请先选择学院</option>

                </select>
            </span>
        </p>
        <p>
            <label>所属班级</label>
            <span class="field" style="width:500px;">
                <select name="classlist" id="classlist">
                    <option value="" selected="selected">请先选择专业</option>

                </select>
            </span>
        </p>
        <p>
            <label>年级</label>
            <span class="field" style="width:400px;">
                <select name="studentGrade" id="studentGrade">
                    <option value="" style="display: none;" disabled selected>年级</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                </select>
            </span>
        </p>
        <p>
            <label>学生类型</label>
            <span class="field" style="width:400px;">
                <select name="studentType" id="studentType">
                    <option value="" style="display: none;" disabled selected>学生类型</option>
                    <option value="正常">正常</option>
                    <option value="楚才">楚才</option>
                    <option value="转专业">转专业</option>
                    <option value="双学位">双学位</option>
                </select>
            </span>
        </p>
        <p>
            <label>宿舍住址</label>
            <span class="field"><input type="text" name="studentAddress" id="studentAddress" class="longinput" style="width:400px;" /></span>
        </p>
        <p>
            <label>民族</label>
            <span class="field" style="width:300px;">
                <select name="studentNative" id="studentNative">
                    <option value="" style="display: none;" disabled selected>民族</option>
                    <option value="汉">汉</option>
                    <option value="土家">土家</option>
                    <option value="苗">苗</option>
                    <option value="维吾尔">维吾尔</option>
                    <option value="藏">藏</option>
                    <option value="朝鲜">朝鲜</option>
                    <option value="其他">其他</option>
                </select>
            </span>
        </p>
        <p>
            <label>出身地地址</label>
            <span class="field"><input type="text" name="studentBirthplace" id="studentBirthplace" class="longinput" style="width:400px;" /></span>
        </p>

        <!--上传照片-->

        <p>
            <label>政治面貌</label>
            <span class="field" style="width:300px;">
                <select name="studentPoliticsstatus" id="studentPoliticsstatus">
                    <option value="" style="display: none;" disabled selected>政治面貌</option>
                    <option value="群众">群众</option>
                    <option value="中共党员">中共党员</option>
                    <option value="其他">其他</option>
                </select>
            </span>
        </p>
        <p>
            <label>联系方式</label>
            <span class="field"><input type="text" name="studentContact" id="studentContact" class="longinput" style="width:200px;" /></span>
        </p>
        <p>
            <label>家庭人数</label>
            <span class="field" style="width:300px;">
                <select name="studentFamily" id="studentFamily">
                    <option value="" style="display: none;" disabled selected>家庭人数</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="更多">更多</option>
                </select>
            </span>
</p>
        <p>
            <label>所的奖状荣誉</label>
            <span class="field"><input type="text" name="studentAward" id="studentAward" class="longinput" style="width:400px;" /></span>
        </p>
        <p>
            <label>个人描述</label>
            <span class="field"><input type="text" name="studentOther" id="studentOther" class="longinput" style="width:400px;" /></span>
        </p>
        <p>
            <label>状态</label>
            <span class="field" style="width:300px;">
                <select name="studentStatus" id="studentStatus">
                    <option value="" style="display: none;" disabled selected>状态</option>
                    <option value="1">正常</option>
                    <option value="2">休学</option>
                    <option value="3">留级</option>
                </select>
            </span>
        </p>
        <div class="showcase sweet" style="height:50px;background-color:white" align="Center">
            <button class="submit" align="Center" style="width:120px;margin-top: 10px;">添加学生信息</button>
        </div>
    </form>

    <script>

        /**
         * 当学院下拉框被点击时,刷新专业下拉框
         */
        $(document).ready(function () {
            $("select[name='studentDepartment']").change(function () {
                var college = $("#studentDepartment").val();

                $.ajax({
                    type: "POST",
                    url: "/Arrange/CAFillMajor",
                    data: "college=" + college,
                    success: function (data) {
                        $("#studentMajor").empty();
                        if (data.length != 0) {
                            $.each(data, function (i, item) {
                                $("<option></option>")
                                    .val(item["Value"])
                                    .text(item["Text"])
                                    .appendTo($("#studentMajor"));
                            });
                        }
                        fillcourselist(college, coursetype);
                    }
                });
            });
        });

        /**
         * 当专业下拉框被点击时,刷新班级下拉框
         */
        $(document).ready(function () {
            $("select[name='studentMajor']").change(function () {
                var major = $("#studentMajor").val();
                $.ajax({
                    type: "POST",
                    url: "/Arrange/CAFillClass",
                    data: "major=" + major,
                    success: function (data) {
                        $("#classlist").empty();
                        if (data.length != 0) {
                            $.each(data, function (i, item) {
                                $("<option></option>")
                                    .val(item["Value"])
                                    .text(item["Text"])
                                    .appendTo($("#classlist"));
                            });
                        }
                    }
                });
            });
        });

        
        $('.showcase.sweet button').on('click', function () {
            var studentName = document.getElementById("studentName").value;
            var studentSex = document.getElementById("studentSex").value;
            var studentIDCard = document.getElementById("studentIDCard").value;
            var studentAge = document.getElementById("studentAge").value;
            var studentDepartment = document.getElementById("studentDepartment").value;
            var studentMajor = document.getElementById("studentMajor").value;
            var studentGrade = document.getElementById("studentGrade").value;
            var studentType = document.getElementById("studentType").value;
            var studentAddress = document.getElementById("studentAddress").value;
            var studentNative = document.getElementById("studentNative").value;
            var studentBirthplace = document.getElementById("studentBirthplace").value;
            var studentPoliticsstatus = document.getElementById("studentPoliticsstatus").value;
            var studentContact = document.getElementById("studentContact").value;
            var studentFamily = document.getElementById("studentFamily").value;
            var studentAward = document.getElementById("studentAward").value;
            var studentOther = document.getElementById("studentOther").value;
            var studentStatus = document.getElementById("studentStatus").value;

            var studentClass = document.getElementById("classlist").value;

            if (studentName == '' || studentSex == '' || studentIDCard == '' || studentAge == '' || studentDepartment == '' || studentMajor == '' || studentGrade == ''
                || studentType == '' || studentAddress == '' || studentNative == '' || studentBirthplace == '' || studentPoliticsstatus == '' || studentContact == ''
                || studentFamily == '' || studentAward == '' || studentOther == '' || studentStatus == '' || studentClass == '') {
                swal('提交错误', '请检查信息是否完整', 'error');
                return false;
            } else {
                document.getElementById("formid").submit();
            }
  	    });
    </script>
</body>
</html>